:root {
  --primaryColor: #dfe6e9;
  --secondaryColor: #b2bec3;
  --accentColor: #e17055;
  --darkGrey: #636e72;
  --accentHighlightColor: #d54826;
}

body {
  font-family: Oswald;
  font-size: 24px;
  margin: 0;
  background: var(--secondaryColor);
}

.header {
  margin: 0;
  padding: 1em;
  background: var(--accentColor);
}

.content {
  margin: 2em clamp(2em, 8em, 12em);
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--primaryColor);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.hidden {
  align-self: flex-end;
}

.verticalInputLabel {
  display: flex;
  flex-direction: column;
}

.horizontalInputLabel {
  display: flex;
  justify-content: space-around;
}

.generalInfoForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.generalInfoDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generalInfoSubmitButton {
  grid-column-start: 1;
  grid-column-end: 5;
}

.manualMargin {
  margin: 0;
}

.gridContainer {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  {/* justify-items: center; */}
}

.addButton {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

button {
  background: var(--accentColor);
  border: none;
  cursor: pointer;
  font-family: Oswald;
  font-size: 24px;
  padding: 0.5em;
}

button:hover {
  background: var(--accentHighlightColor);
}

label {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayTitleBar {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

li p {
  margin-top: 0; 
  margin-left: 1em;
  margin-right: 1em;
}

.alignLeft {
  align-self: flex-start;
}

/*
select {
  flex-grow: 1;
}
*/

input, select, textarea {
  font-family: Oswald;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* FOR academicExperience AND PracticalExperience PUT NAME AND DESCRIPTION ON ONE LINE, PUT DATES, ADD, AND DONE/EDIT ON SECOND LINE */
/* COLORS TAKEN FROM: https://flatuicolors.com/palette/us  */
